language: python
python:
    - "2.7"
before_install:
    - sudo apt-get install libnetcdf-dev
    - sudo apt-get install gfortran
    - sudo apt-get install -qq libz-dev libbz2-dev
    - sh ./for_travis/install_cython_git.sh
    - sh ./for_travis/install_cpptraj.sh
install:
    #- pip install cython # cython will be installed in ./for_travis/install_cython_git.sh
    - pip install numpy
    - python ./for_travis/setup.py install
script:
    - export AMBERHOME=`pwd`"/cpptraj"
    - export PYCPPTRAJ_HOME=`pwd`
    - export LD_LIBRARY_PATH=$AMBERHOME/lib:$LD_LIBRARY_PATH
    - python ./for_travis/fake_test.py
    - python -c 'import pycpptraj'
    #- python ./tests/test_import_class.py
    - cd ./examples
    - python ./API_test.py
    #- sh ./TestListTravis.sh
    - echo "Kool"
    ## - cd $PYCPPTRAJ_HOME/tests/Cpptraj_test/
    ## - make test.complete

notifications:
  email: false
