language: python
python:
    - "2.7"
before_install:
    - sudo apt-get install libnetcdf-dev
    - sudo apt-get install gfortran
    - ./for_travis/install_cpptraj.sh
install:
    - pip install cython
    - python ./for_travis/setup.py install
